<!DOCTYPE html>
<div class="banner">
    <div class="container">
        <h1 class="banner-title">
            <span>Soka.</span>Writing Blog
        </h1>
        <p>Your space for expression in different subjects</p>
        <form>
            <input type="texte" class="search-input" placeholder="Search all Post . . .">
            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
<section class="blog">
    <div class="container">
        <div class="title">
            <h2>Latest Post</h2>
            <p>Recent Post about different topic :)</p>
        </div>
        <div class="blog-content">
            <div class="articles blog-content"></div>
        </div>
        <div class="title">
            <h2>Catégorie</h2>
        </div>
        <div class="blog-content2">
            <div class="article blog-content" style="margin: 1rem 0;"></div>
        </div>
    </div>
</section>
<script>
    getArticlesList();
    getCategorie();
</script>