<!DOCTYPE html>
<div class="containerA">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="../images/login.jpg" alt=""/>
      </div>
      <div class="back">
        <img class="backImg" src="../images/login.jpg" alt="">
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Email"  id="email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password"  id="password" required>
              </div>
              <div class="button input-box">
                <input type="submit" id="loginBtn"  value="Login">
              </div>
              <div class="text sign-up-text">Not a Author? <label for="flip">SingUp Now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">SingUp</div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="FirstName" id="firstname" required>
              </div>
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="LastName" id="lastname" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" id="emailinsc" placeholder="Email"   required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" id="passwordinsc" placeholder="Password" required>
              </div>
              <div class="button input-box">
                <input type="submit" onclick="signUp()" value="Sumbit">
              </div>
              <div class="text sign-up-text">Have an account? <label for="flip">Login In</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
  <script>
      login().then(pushToTemplateLogin).then(otherThings).catch(console.error);
  </script>